@import (inline) "superhero.css";

#content {
  position: relative;
  width: 100%;
}
#sidebar {
  padding-top: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 240px;
}
#main {
  position: relative;
  margin-left: 250px;
}

.version {
  font-size: x-small;
  font-style: italic;
}
